Please enter your name and pick the Sectors you are currently involved in.

<form [formGroup]="form" (ngSubmit)="onSubmit()">

<br />
<br />
Name: 
<input type="text" formControlName="name">
<br />
<br />
Sectors: 
<select multiple size="5" formControlName="sectors">
    @for (sector of sectors$ | async; track sector.id) {
        <option [value]="sector.id"> {{ getIndent(sector.level) }}{{ sector.label }}</option>
    } @empty {
        <option disabled>No sectors available</option>
    }
</select>


<br />
<br />
<input type="checkbox" formControlName="agreedToTerms"> Agree to terms

<br />
<br />
<button type="submit" [disabled]="isLoading() || form.invalid"> Submit </button>
@if (isLoading()) {
<span >Loading...</span>

}


</form>
